.avatar{
	width: 200px;
	height: 200px;
	background-image: url('images/avatar.jpg');
	background-size: cover;
    display: block;
    /* border-radius: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px; */ 
    border-radius: 50%;
    border: solid white 4px;
   }

body {
    background-color: black;
}